*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.nav .item{
    position: relative;
    list-style: none;
    margin: 15px;
}
.nav .item .item-link{
text-decoration: none;
}

.nav .subnav{
    display: none;
    width:120px;
    padding:0;
    margin: 0 12px 0 0;
}
.item:hover .subnav{
    background-color: #5198af;
    position: absolute;
    display: block;
    margin: 0 12px 0 0;
}
.nav .subnav li{
    width: 100%;
    border-bottom: #000 thin solid;
    list-style: none;
}
.nav .subnav li a{
    display: block;
    width: 100%;
    color:#ffff;
    text-decoration: none;
    padding: 8px;
}
.nav .subnav li a:hover{
    color:#ffff;
    background-color: #133d4b;
}
.header-wrap{
    width: 100%;
    height: 50px;
    background-color: #5198af;
}
.logo-admin{
    width: 20%;
    height: 50px;
    float: left;
}
.logo-admin h1{
 color:purple;
 padding: 1% 4%;

}
.logo-admin h1 span{
    color:red;
}
.admin-wraper{
    height: calc(100% - 66px);
    border:#000 thin solid;
    display: flex;
}
.admin-wraper .left-sidebar{
    flex: 2;
    height: 100%;
    background-color: #5198af;

}
.admin-wraper .left-sidebar .list-item{
    list-style: none;
    margin: 0;
    padding: 0;
    color:#ffff;
}
.left-sidebar .list-item .item{
    position: relative;
}
.left-sidebar .list-item .item:hover .sub-list{
    display: block;
}
.left-sidebar .list-item .sub-list{
    position: absolute;
    top:0px;
    left:262px;
    width: 50%;
    height:auto;
    display: none;
    background-color: #3c7486;
    border: green thin solid;
}
.left-sidebar .list-item .sub-item{
    list-style: none;
    margin: 0;
    padding: 0;
}
.left-sidebar .list-item .sub-list .sub-link{
 text-decoration: none;
 display: block;
 color:#ffff;
 border-bottom: 1px solid #ccc;
 font-size: 20px;
 padding: 12px;
}
.left-sidebar .list-item .sub-list .sub-link:hover{
    background-color: #5198af;
    color: purple;
}
.left-sidebar .list-item .item .item-link{
    padding: 14px;
    display: block;
    border-bottom: 1px solid #000;
    text-decoration: none;
    font-size: 24px;
    color:#ffff;
}
.left-sidebar .list-item .item .item-link:hover{
    background-color: #133d4b;
}

.admin-wraper .admin-content{
    flex:8;
    height: 100%;
    padding: 40px 100px 100px;  
}
.admin-content .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.button-group a{
    padding: 8px;
    margin-left: 1rem;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #5198af;
    border-radius: 4px;
    color:#ffff;
    border:none;
}

.content label{
    width: 100%;
    padding: 6px 0;
    display: block;
    font-size: 1.4rem;
}
.content .text-input{
    padding: 8px;
    width: 40%;
}
.btn-send{
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #5198af;
    border-radius: 4px;
    color:#ffff;
    border:none;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th,td{
    padding: 15px;
    text-align: left;
    border: 1px solid #d3d3d3;
}
table .delete{
color:red;
}
.edit{
color:green;
}
.publish{
color:blue;
}
.form-group span{
    margin:1px 8px;
}
.form-group #brand-id,.form-group #image{
    width: 40%;
}

