@media (max-width:750px) {
    .table thead {
        display: none;
    }

    .table .table tbody, .table td, .table tr {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td::before {
        content : attr(data-label);
        position: absolute;
        left: 0;
        width:50%;
        text-align: right;
        padding-left:15px;
        font-size:15px;
        font-weight:bold;
    }

    .table td {
        text-align:right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    
  
}