@media (max-width:750px) {
    .table thead {
        display: none;
    }

    .table .table tbody, .table td, .table tr {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align:right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    
  
}